<%- include('partials/header.ejs') %>

<div class="ui main text container segment">

    <div class="ui huge header"><%= blog.title %></div>
    
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description" style="margin-top: 0.5em;">
                <p><%- blog.body %></p>
            </div>
            <div class="extra" style="margin-top: 1em;">
                <a class="ui basic green button" href="/blogs/<%= blog._id %>/edit">Edit</a>
                <form class="ui inline" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" style="display: inline-block;">
                    <button class="ui red basic button">Delete</button>
                </form>
            </div>
        </div>
    </div>

</div>

<%- include('partials/footer.ejs') %>